#------------------------------------------------------------------------------#
# Created By Kostis Maninakis
#------------------------------------------------------------------------------#

# Git will ignore tracking everything...
*

# Except what is listed below (or within it) and preceded with a '!'
# Add below any files/folders you want to be tracked by Git

!.gitignore
!httpdocs/*



# Also ignores tracking any files within the above listed excluded paths, that 
# 		still match any of the patterns below.

*~
/httpdocs/wp-content/plugins/bwp-minify/cache/*
