/* Fonts
 --------------------------------------------------------*/
@font-face{
	font-family: firagr;
	src: url(FiraSans-MediumItalic.ttf);
}

h2 {
	font-family: 'firagr', 'Open Sans', Helvetica, Arial, sans-serif !important;
}

.entry-title {
	font-family: 'crillee', 'firagr', 'Open Sans', Helvetica, Arial, sans-serif !important;
}

.genesis-nav-menu a {
	font-family: 'firagr', 'Open Sans', Helvetica, Arial, sans-serif !important;
}

.frameContent .more a{
	font-family: 'crillee', 'firagr', 'Open Sans', Helvetica, Arial, sans-serif !important;
}

.frameContent .banners{
		font-family: 'crillee', 'firagr', 'Open Sans', Helvetica, Arial, sans-serif !important;
}

.FullFrame ul li h3{
	font-family: 'firagr', 'Open Sans', Helvetica, Arial, sans-serif !important;
}


/* Header nav-menu
 --------------------------------------------------------*/
.parallelogram a {
	-webkit-transform: 	skew(-3deg) !important;
	-moz-transform: 	skew(-3deg) !important;
	-o-transform: 		skew(-3deg) !important;
	transform: 			skew(-3deg) !important;
}

.genesis-nav-menu a {
    letter-spacing: 0.01em !important;
}

/* Registrations 
 --------------------------------------------------------*/
.imgpricelist {
    max-width: 605px;
}